# Trips Atomic Service URL
TRIPS_ATOMIC_URL=http://trips_atomic:5001

# Hotel Management Service URL
HOTEL_MANAGEMENT_URL=http://hotel-management:5000

# Booked Tickets Service URL
BOOKED_TICKETS_URL=http://booked_tickets:5000

# AMQP Configuration
AMQP_URL=amqp://localhost:5672
AMQP_EXCHANGE=bookings
AMQP_ROUTING_KEY_ACTIVITY=booking.activity
AMQP_ROUTING_KEY_ERROR=booking.error
