SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_KEY=your-supabase-api-key
ATTRACTIONS_TABLE=attractions
ATTRACTION_ID_COLUMN=attraction_id
ATTRACTIONS_CATALOG_TABLE=attractions_catalog
ATTRACTIONS_CATALOG_ID_COLUMN=catalog_attraction_id
PORT=5002
